.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100vw;
    color: darkmagenta;
    background-color: #90bd94;
}